<div class="row">
  <div class="col">
    <h3>Recent comparisons</h3>
    <ul>
      <% comparisons.each do |comparison| %>
        <li>
          <%= link_to comparison.ai_result, comparison_path(comparison) %>
        </li>
      <% end %>
    </ul>
  </div>
</div>

<%# <%= render "recent", comparisons: @recent_comparisons %> %>
