.img-box {
  border-radius: 10px;
  background-color: #3d3d3d;
  color: white;
  // // width: 50px;
}


.hide-button {
  display: none;
}


.submit {
  align-items: center;
  justify-content: center;
}


#result {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  padding-left: 50px;
  padding-right: 50px;
}

.content-wrapper {
  position: relative;
  min-height: 80vh;
}

#button {
  position: absolute;
  bottom: 20px;
  right: 20px;

  margin: 0 !important;
  text-align: right;
  width: auto;
}

p {
  font-size: 24px;
  ;
  color: $tcwhite;
}

h1 {
  font-size: 64px;
  color: $tcwhite;
}



.hidden {
  display: none !important;
}


.clickable-thumbnail {
  cursor: pointer;
}


.content-modal {
  position: fixed;
  z-index: 1030;
  padding-top: 60px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0,0,0,0.9);
}

.modal-content {
  display: block;
  max-width:800px;
  max-height:800px;
  width: auto;
  height: auto;
  margin: auto;
}

.close {
  position: absolute;
  top: 15px;
  right: 35px;
  color: #f1f1f1;
  font-size: 40px;
  font-weight: bold;
  transition: 0.3s;
  cursor: pointer;
}

#caption {
  margin: auto;
  display: block;
  width: 80%;
  max-width: 700px;
  text-align: center;
  color: #ccc;
  padding: 10px 0;
}

// .container {
//   overflow: hidden;
// }

img {
  height: 33vh;
  box-shadow: 4px 4px 3px rgba(0, 0, 0, 0.3);
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 10px;
}

body {
  background-color: $tcblack;
}

h3 {
  text-align: center;
  padding-top: 5px;
}

.new-container {
  border-top: 100px;
}
