

#result {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  padding-left: 50px;
  padding-right: 50px;
}

.content-wrapper {
  position: relative; /* This is essential! It becomes the anchor point. */
  /* You may also want to set a fixed height for the wrapper if it doesn't span the page naturally. */
  min-height: 80vh;
}

#button {
  position: absolute; /* Takes the button out of the normal flow */
  bottom: 20px;       /* Positions the button 20px up from the parent's bottom edge */
  right: 20px;        /* Positions the button 20px in from the parent's right edge */
  /* Override any conflicting layout classes */
  margin: 0 !important;
  text-align: right;
  width: auto;
}

p {
  font-size: 32px;
}

h1 {
  font-size: 64px;
}

#button {
  padding-bottom: 100px;
}

/* Class Stimulus uses to hide the element */
.hidden {
  display: none !important;
}

/* Make the thumbnail look clickable */
.clickable-thumbnail {
  cursor: pointer;
}

/* Modal Styling (Same as traditional CSS) */
.content-modal {
  position: fixed; /* Stay in place */
  z-index: 1030;  /* Sit on top of everything */
  padding-top: 60px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0,0,0,0.9); /* Black w/ opacity */
}

.modal-content {
  display: block;
  max-width:800px;
  max-height:800px;
  width: auto;
  height: auto;
  margin: auto;
}

.close {
  position: absolute;
  top: 15px;
  right: 35px;
  color: #f1f1f1;
  font-size: 40px;
  font-weight: bold;
  transition: 0.3s;
  cursor: pointer;
}

#caption {
  margin: auto;
  display: block;
  width: 80%;
  max-width: 700px;
  text-align: center;
  color: #ccc;
  padding: 10px 0;
}

// .container {
//   overflow: hidden;
// }

img {
  height: 33vh;
  box-shadow: 4px 4px 3px rgba(0, 0, 0, 0.3);
  // object-fit: contain;
}
