// Graphical variables
@import "config/fonts";
@import "config/colors";
@import "config/bootstrap_variables";

// External libraries
@import "bootstrap";
@import "font-awesome";

// Your CSS partials
@import "components/index";
@import "pages/index";
@import "pages/show";
@import "components/offcanvas";


@import 'simple_form_autocomplete';

#movie-results div:hover,
#song-results div:hover {
  background-color: rgb(182, 182, 182);
  cursor: pointer;
  transition: 0.2s ease-in-out;
}
#song-results div, #movie-results div {
  background-color: rgb(197, 197, 197);
  color: rgb(25, 25, 25);
}

#movie_query, #song_query {
 background-color: rgb(202, 202, 202);
 border-radius: 10px;
}
.card {
  border-radius: 10px;
  color: #ccc;
  background-color: $tcgrey;
}
.offcanvas {
  background-color: $tcwhite;
}
